header{
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerbtn{
    margin-top: 20px;
    font-weight: bold !important;
}

.container  {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.container form {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.navbar-brand{
    color: black !important;
    font-weight: bold;
}
.navbar-nav{
    color: black !important;
    font-weight: 500 !important;
}

@media only screen and (max-width: 1000px) {
    .container  {
        margin: auto;
        width: 80%;
        padding: 10px;
    }
    .container form {
        margin: auto;
        width: 80%;
        padding: 10px;
    }
}

@media only screen and (max-width: 600px) {
    .container  {
        margin: auto;
        width: 100%;
        padding: 10px;
    }
    .container form {
        margin: auto;
        width: 100%;
        padding: 10px;
    }
}